
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;

	background-color: #222;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color:#FFF;
}

b {
	font-weight: 600;
}

.site-header__title {
	margin:0;
	text-align: center;
	font-size: 2.4em;
}

.site-header__title:nth-of-type(1) {
	margin-top: 60px;
}

.site-header__break {
	display: block;
	margin:15px auto;
	padding: 6px 0;

	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
	color:#FFF;
}

.site-header__title .cheeky {
	color:#E71554;
}

.info {
	padding:10px 0;
}

.info__list {
	padding: 4px;
}

.info__list:after {
	content:'';
	display: block;
	clear: both;
}

.info__list .list__item {
	float: left;
	margin-right: 20px;
}

.list__item .item__color {
		display: inline-block;
		border-radius: 50%;
		width: 8px;
		height: 8px;

		vertical-align: middle;
		background-color: #E71554;
}

.list__item .item__color.item__color--blue {
	background-color: #5279C7;
}

.list__item .item__label {
	margin-left: 5px;

	font-weight: 600;
	vertical-align: middle;
	color:#FFF;
}

.chart {
	margin-top: 100px;
	height: 600px;

	background-color: rgba(255,255,255,0.9);
}